
/* BEGIN theme overrides */

#omc-sidebar img.wpp-thumbnail {
	width: 50px;
}
.omc-blog-two.omc-half-width-category img.omc-image-resize {
	max-height: 220px;
}
.omc-blog-two.omc-half-width-category div.omc-resize-290 {
	height: 214px;
}
.omc-blog-two.omc-half-width-category .article.omc-blog-two {
	overflow: hidden;
}

article.omc-blog-two {
	margin-bottom: 60px;
}

/* END theme overrides */

